@import 'tailwindcss';

@theme {
  --color-og-yellow: #fff2bd;
  --color-og-red: #5a100e;
  --color-og-green: #6b923f;
  --color-basic: #3b3b3b;
  --color-light: #ababab;
  --color-hover: #f0f0f0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #3b3b3b;
  overflow-y: auto;
  background-color: #fff2bd;
}

.ImageHolder {
  background-image: url('./assets/Logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.ImageShadow {
  background: rgba(255, 242, 189, 0.5);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
