@import 'tailwindcss';

@theme {
  --color-og-yellow: #fff2bd;
  --color-og-yellow-overlay: rgba(255, 242, 189, 0.5);
  --color-og-red: #5a100e;
  --color-og-green: #6b923f;
  --color-basic: #3b3b3b;
  --color-light: #ababab;
  --color-hover: #fff2bd;
  --color-opposite: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-og-yellow: #767262;
    --color-og-yellow-overlay: rgba(118, 114, 98, 0.5);
    --color-og-red: #5a100e;
    --color-og-green: #a4db5c;
    --color-basic: #f0f0f0;
    --color-light: #ababab;
    --color-hover: #767262;
    --color-opposite: #3b3b3b;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-basic);
  overflow-y: auto;
}

html {
  background-color: var(--color-og-yellow);
}

body {
  background-image: url('./assets/Logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

#root {
  background: var(--color-og-yellow-overlay);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
